name: hello_cnode
description: an app for cnode

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^3.0.0
  dio: ^3.0.4
  date_format: ^1.0.8
  webview_flutter: ^0.3.18+1
  shared_preferences: ^0.5.4+6
  qrscan: ^0.2.17

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.6.0
  json_serializable: ^3.2.3


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/avatar_icon.jpg
    - assets/images/icon-test.png
    - assets/images/icon-test_1.png
    - assets/images/icon-test_2.png
    - assets/images/icon-test_3.png
    - assets/images/icon-test_4.png
    - assets/images/icon-test_5.png
    - assets/images/icon-test_6.png
    - assets/images/icon-test_7.png
    - assets/images/icon-test_8.png
    - assets/images/icon-test_9.png
    - assets/images/icon-test_10.png
    - assets/images/icon-test_11.png
    - assets/images/icon-test_12.png
    - assets/images/icon-test_13.png
    - assets/images/icon-test_14.png
    - assets/images/icon-test_15.png
    - assets/images/icon-test_16.png
    - assets/images/icon-test_17.png
    - assets/images/404.png
    - assets/images/empty.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: iconfont
      fonts:
        - asset: assets/fonts/iconfont.ttf
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
